//---------------------------------------------fonts
$font_path: "../fonts/";
$font_1: "Hammersmith One", sans-serif;
$font_2: "Nunito", sans-serif;
$font_size_base: 1.4rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #1F1E33;


$green_prime: #97C93D;
$blue_prime: #252F6C;
$pink_prime: #F05075;
$light_blu: #60CBE8;
$grey: #888888;
$grey2: #D2D2D2;
$red: #EE2E31;




$color_text_base: $blue_prime;
$color_link_base: $blue_prime;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup: 101,
	header: 100,
	footer: 100,
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 152rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 0;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

$point_9: 970px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4.1rem;
$input_offset: 0 2rem;
$input_font_size: 1.4rem;
$input_border_color: $blue_prime;
$input_border_color_active: $blue_prime;
$input_placeholder_color: $blue_prime;
$input_text_color: $blue_prime;
$input_radius: 2.1rem;
//---------------------------------------------forms###
