// wpcf7
form.wpcf7-form.request_dealer_account {
  max-width: 50rem;
  margin: 0 auto;

  @include bp($point_2, min) {
    padding: 5rem 0 0;
  }

  @include bp($point_3) {
    padding: 3rem 0 0;
  }

  p {
    position: relative;

    .wpcf7-spinner {
      @extend %vert_centr;

      position: absolute;
      left: 0;
      z-index: 1;
    }
  }

  label {
    @extend %text;

    color: $blue_prime;
  }

  .required {
    font-size: 1.8rem;
    color: $pink_prime;
    padding: 0 .3rem;
  }

  .wpcf7-form-control-wrap {
    display: block;
    margin-top: .4rem;
  }

  .wpcf7-not-valid-tip {
    @extend %text;

    display: block;
    margin-top: .4rem;
  }

  textarea,
  input {
    @extend %body;

    display: block;
    width: 100%;
    padding: 0 1.4rem;
    line-height: 4rem;
    color: $blue_prime;

    border: 1px solid $grey3;
    border-radius: 2rem;
  }

  textarea {
    padding: 1.4rem;
    line-height: 2rem;
  }

  input[type='checkbox'] {
    @extend %form_el_checkbox;
  }

  input[type='submit'] {
    @extend %base_btn;
    @extend %pink_bg;

    min-height: 5rem;
    min-width: 20rem;

    @include bp($point_2, min) {
      font-size: 2rem;
    }

    @include bp($point_3) {
      font-size: 1.6rem;
    }
  }

  .wpcf7-form-control-wrap {

    .wpcf7-form-control {
      display: block;
    }

    .wpcf7-list-item.first.last {
      display: block;
    }

    .wpcf7-list-item-label {
      display: block;
      text-indent: 0;
      line-height: 2.2rem;
    }

    .wpcf7-list-item {
      margin: 0;
    }
  }

  .wpcf7-response-output {
    margin-bottom: .5rem;
  }
}