$max_wid: 122rem;

.woocommerce-lost-password {
  .woocommerce {
    form.woocommerce-ResetPassword {
      max-width: 50rem;
      margin: 0 auto;

      .form-row {
        width: 100%;

        label {
          margin-bottom: 1rem;
        }

        input {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.woocommerce-form__input-checkbox {
  @extend %form_el_checkbox;
}

.woocommerce-account {
  #primary {
    min-height: 0;
  }

  .woocommerce > h2 {
    display: none;
  }

  #customer_login {
    .col-1,
    .col-2 {
      h2 {
        font-size: 3rem;
        max-width: 50rem;
        margin: 0 auto;
      }
    }
  }

  .woocommerce-form-login__rememberme {
    display: block;
    width: 100%;

    @include bp($point_2, min) {
      margin-bottom: 2rem;
    }

    @include bp($point_3) {
      margin-bottom: 1rem;
    }

    span {
      display: block;

      font-weight: 400;
      text-transform: lowercase;
    }
  }

  .lost_password {
    @extend %transition_opacity;
    @extend %text;

    color: $blue_prime;

    &:hover {
      opacity: .6;
    }
  }

  .form-row {
    @include bp($point_2, min) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @include bp($point_3) {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  button[type='submit'] {
    min-width: 15rem;
    padding: 0 4rem;
    margin-right: 0;

    @include bp($point_2, min) {

    }

    @include bp($point_3) {
      width: 100%;
      height: 5rem;
    }
  }
}

.woocommerce form.checkout_coupon p,
.woocommerce form.login p,
.woocommerce form.register p {
  margin-bottom: 1rem;
}


.section.my_account_page .section_in {
  max-width: 122rem;
  height: 100%;

  & > h2 {
    max-width: 50rem;
    margin: 0 auto;

    .logged-in & {
      max-width: 100%;
    }


    @include bp($point_2, min) {
      margin-bottom: 2rem;
    }

    @include bp($point_3) {
      margin-bottom: 2rem;
    }
  }
}

.section.my_account_page {
  @include bp($point_2, min) {
    //min-height: calc(100vh - var(--height-header));
  }

  @include bp($point_3) {
    //padding-top: 4rem;
  }

  .woocommerce {
    @include bp($point_2, min) {
      height: 100%;
    }

    @include bp($point_3) {

    }
  }

  #customer_login {
    @include bp($point_2, min) {
      display: flex;

      height: 100%;
    }

    @include bp($point_3) {

    }

    .col-1, .col-2 {
      @include bp($point_2, min) {
        width: calc( (100% - 3rem) / 2 );
        margin: auto 0;
      }
    }

    .col-2 {
      @include bp($point_3) {
        margin-top: 4rem;
      }
    }

    form.login, form.register {
      border: 0;

      @include bp($point_2, min) {
        padding: 5rem;
      }

      @include bp($point_3) {
        padding: 0;
      }
    }

    h2 {
      @extend %h2;

      color: $blue_prime;

      @include bp($point_2, min) {
        padding: 0 5rem;
      }

      @include bp($point_3) {

      }
    }

    .woocommerce-privacy-policy-text {
      margin-bottom: 2rem;
      font-size: 1.2rem;

      p {
        font-size: inherit;
      }
    }

    .woocommerce-password-strength {
      @extend %body;

      padding: .5rem 1rem;
      margin-top: .6rem;

      color: $blue_prime;
      font-size: 1.2rem;
      border-radius: 1rem;
    }

    .woocommerce-password-hint {
      @extend %body;

      padding: .5rem 1rem;
      margin-top: .6rem;

      color: $blue_prime;
      font-size: 1.2rem;
      border-radius: 1rem;
      border: 1px solid $grey3;
    }

  }
}

.woocommerce form .show-password-input::after,
.woocommerce-page form .show-password-input::after {
  //font-family: WooCommerce;
  //speak: never;
  //font-weight: 400;
  //font-variant: normal;
  //text-transform: none;
  //line-height: 1;
  //-webkit-font-smoothing: antialiased;
  //margin-left: .618em;
  //content: "\e010";
  //text-decoration: none;

  margin: 0 .4rem 0 1.2rem;
  color: $grey3;
  font-size: 2rem;
  line-height: 2.4rem;
}

.woocommerce-account {

  .woocommerce-MyAccount-navigation {

    @include bp($point_2, min) {
      position: relative;

      max-width: 31rem;
      width: 100%;
      padding-right: 6rem;
    }

    @include bp($point_3) {
      margin-bottom: 3rem;
    }

    ul {
      @include bp($point_3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin: 0 -2rem -2rem 0;
      }

      @include bp($point_6) {
        margin: 0 -.5rem -.5rem 0;
      }

      li {
        @extend %text;

        font-size: 1.8rem;
        color: $blue_prime;

        @include bp($point_2, min) {
          &:not(:last-child) {
            margin-bottom: 3rem;
          }
        }

        @include bp($point_3) {
          min-width: 8rem;
          margin-bottom: 0;
          padding: 0 2rem 2rem 0;
        }

        @include bp($point_6) {
          width: 100%;
          padding: 0 .5rem .5rem 0;
        }

        a {
          color: inherit;

          @include bp($point_3) {
            display: block;
            padding: .5rem;
            text-align: center;
            font-size: 1.2rem;
          }

          @include bp($point_4) {
            padding: 0;
          }

        }

        &:before {
          @include bp($point_3) {
            display: none;
          }
        }

        &.is-active {
          color: $pink_prime;

          &:before {
            background: $pink_prime;
          }
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -4rem;
      width: 1px;
      height: 100%;
      background: $grey3;
    }

    @include bp($point_2, min) {
      float: left;

      max-width: calc( 100% - 31rem );
      width: 100%;
    }

    form {
      .form-row-last,
      .form-row-first {
        float: unset;
        width: 100%;
      }

      #account_display_name + span em {
        font-family: $font_2;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
      }

      button[type='submit'] {
        width: 100%;
        margin-top: 2rem;
      }

      fieldset {
        position: relative;

        @include bp($point_4 + 1, min) {
          padding: 8rem 3rem 3rem;
        }

        @include bp($point_4) {
          padding: 8rem 2rem 2rem;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2.5rem;
          border: 1px solid $grey3;
          z-index: -1;
        }


        legend {
          @extend %h3;

          color: $blue_prime;

          transform: translateY(5.8rem);

          @include bp($point_3) {
            font-size: 2.4rem;
          }
        }
      }
    }

    table {
      @include bp($point_2, min) {
        padding: 0;
        border-spacing: 1rem;
      }

      @include bp($point_3) {
        margin-top: 2rem;
      }

      .woocommerce-orders-table__row {
        @include bp($point_2, min) {
          border-radius: 1rem;
          outline: 1px solid $grey3;
        }

        @include bp($point_3) {
          padding: 1rem;
          margin-bottom: 1rem;

          border-radius: 2rem;
          border: 1px solid $grey3;
        }
      }

      .woocommerce-orders-table__cell {
        a {
          @include bp($point_2, min) {

          }

          @include bp($point_3) {
            display: block;
            width: 16rem;
            margin-left: auto;
          }
        }
      }
    }
  }

}


/**
Wishlist
 */
.tinv-wishlist tfoot .tinvwl-to-left:not(:empty) {
  @include bp($point_2, min) {
    width: 100%;
    margin-right: 0;
  }

  @include bp($point_3) {

  }
}

.tinv-wishlist tfoot .tinvwl-to-left + .tinvwl-to-right {
  @include bp($point_2, min) {
    width: 100%;
    margin: 0;
  }

  @include bp($point_3) {

  }

  button[type='submit'] {
    width: 100%;
    margin-left: 0;
    white-space: pre-wrap;
    padding: 1rem;
    height: auto;

    @include bp($point_2, min) {
      max-width: 41rem;
    }

    @include bp($point_3) {
      max-width: 37.5rem;
    }
  }
}

.tinv-wishlist .tinvwl-to-left .tinvwl-input-group .form-control+.tinvwl-input-group-btn {
  @include bp($point_2, min) {

  }

  @include bp($point_3) {
    padding-left: 0;
    padding-top: 1rem;
  }
}

table.tinvwl-table-manage-list {

  thead {
    tr {
      th {
        @extend %text;

        &:not(.product-cb) {
          @include bp($point_3) {
            display: none !important;
          }
        }
      }

      .product-cb {
        @include bp($point_3) {
          display: block !important;
          text-align: left !important;
          padding-left: .8rem;
        }

        .input-checkbox {
          accent-color: $pink_prime;
          cursor: pointer;

          @include bp($point_2, min) {
            width: 2rem;
            height: 2rem;
          }

          @include bp($point_3) {
            position: relative;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: auto;

            &:before {
              position: absolute;
              top: -.3rem;
              right: -12.6rem;

              font-family: $font_2;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              white-space: nowrap;

              content: 'Alle auswählen';
            }
          }
        }
      }
    }
  }

  tbody {
    @include bp($point_3) {
      display: block;
    }

    .wishlist_item {
      @include bp($point_2, min) {}

      @include bp($point_3) {
        display: grid;
        grid-template-columns: max(20%, 12rem) 1fr;
        //gap: 1rem max(2rem, 2.4%);

        position: relative;

        min-height: 12rem;
        padding: 1.6rem;
        margin-bottom: 1rem;

        outline: 1px solid $grey3;
        outline-offset: -1px;
        border-radius: 1rem;
      }

      // td
      .product-cb, .product-remove, .product-thumbnail, .product-name, .product-price, .product-date, .product-stock, .product-action {
        @include bp($point_2, min) {}

        @include bp($point_3) {
          margin: 0;
          padding: 0;
        }

      }

      .product-cb {
        @include bp($point_2, min) {}

        @include bp($point_3) {
          width: 0;
          max-width: 0;
        }

        .input-checkbox {
          accent-color: $pink_prime;

          @include bp($point_2, min) {
            width: 2rem;
            height: 2rem;
          }

          @include bp($point_3) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            width: 1.6rem;
            height: 1.6rem;
            margin: 1rem;
            cursor: pointer;
          }
        }
      }

      .product-remove {
        @include bp($point_2, min) {

        }

        @include bp($point_3) {
          width: 0;
          max-width: 0;
        }

        button {
          @include bp($point_2, min) {

          }

          @include bp($point_3) {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.8rem;
            height: 1.8rem;
            margin: .5rem 1rem;
            cursor: pointer;
          }
        }
      }

      .product-thumbnail {
        @include bp($point_2, min) {}

        @include bp($point_3) {
          display: flex;

          width: 100%;
          height: 100%;
          max-width: 100%;
          min-width: 0;
          grid-row-start: 1;
          grid-row-end: span 6;

          a {
            position: relative;

            display: block;
            width: 100%;
            max-width: 100%;
            padding-top: 100%;
            margin: auto 0;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;

            display: block;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
          }
        }
      }

      .product-name,
      .product-price,
      .product-date,
      .product-stock {
        @extend %body;

        @include bp($point_2, min) {}

        @include bp($point_3) {
          display: block;
          width: 100%;
          max-width: 100%;
          text-align: left;
          padding: .8rem 1.6rem;

          .stock {
            margin: 0;
            text-align: left;

            span {
              display: inline;
            }

            .tinvwl-txt {
              margin-left: .5rem;
            }
          }
        }
      }

      .product-name {
        font-size: 1.8rem;
        font-weight: 800;

        a:hover {
          color: $pink_prime;
        }
      }

      .product-price {
        color: $pink_prime;
      }

      .product-action {
        @include bp($point_2, min) {}

        @include bp($point_3) {
          width: 100%;
          max-width: 100%;
          padding-top: 1rem;

          grid-column-end: span 2;

          .button {
            max-width: max(21rem, 40%);
            margin: 0 auto;

            .tinvwl-txt {
              display: inline;
            }
          }
        }
      }

    }
  }

  tfoot {

    .tinvwl-input-group {
      display: block;

      @include bp($point_2, min) {}

      @include bp($point_3) {
        max-width: 37.5rem;
        width: 100%;
      }

      select.tinvwl-break-input-filed {
        @include bp($point_2, min) {
          max-width: 20rem;
        }

        @include bp($point_3) {}

        option {
          padding: 5px 1rem;
        }
      }
    }

    select#tinvwl_product_actions {
      border-radius: 2rem;
      height: 4rem;
      padding: 0 1rem;

      @include bp($point_2, min) {
        width: 100%;
        max-width: 20rem;
      }

      @include bp($point_3) {

      }
    }

    button {
      @include bp($point_2, min) {
        min-width: 20rem;
      }

      @include bp($point_3) {
        max-width: 37.5rem;
        width: 100%;
      }
    }
  }
}

.tinv-wishlist {

  .tinv-header {
    margin: 0;
    h2 { padding: 0; }
  }


  // Modal Window
  .tinv-modal .tinv-modal-inner {
    border-radius: 2rem;
    overflow: hidden;
  }

  .tinvwl_added_to_wishlist .tinv-txt {
    @extend %text;
    line-height: 1.5;
  }

  .tinvwl-buttons-group {
    button {
      @extend %base_btn;
      @extend %pink_bg;

      min-height: 4rem;

      i.ftinvwl-heart-o::before,
      i.ftinvwl-key::before,
      i.ftinvwl-times::before {
        position: relative;
        top: 0;
      }
    }
  }
}


