
// wholesale_customer

.woocommerce {

  // Loop Products

  ul.products {
    li.product {
      .price {

        // wholesale_customer
        .original-computed-price {
          display: none;
        }
        .wholesale_price_container {
          display: block;
          width: 100%;
          text-align: center;

          // Hide Title "Wholesale Price"
          .wholesale_price_title {
            display: none;
          }
        }

      }
    }
  }

  // Single Product

  div.product {

    div.summary {
      .product_single_price_wrapper {
        @extend %flex_row_nowrap_flex_start_baseline;

        width: 100%;

        .single_product_wholesale_price {
          @extend %small;

          text-align: left;
          margin-left: 1rem;
          color: $blue_prime;
        }

        @include bp($point_2, min) {
          margin-bottom: 3.4rem;
        }

        @include bp($point_3) {
          margin-bottom: 2rem;
        }

        // Wholesale_Customer
        .original-computed-price {
          display: none;
        }
        .wholesale_price_container {
          display: block;
          width: 100%;
          text-align: center;

          color: $green_prime;

          ins {
            margin-right: 0;
          }

          // Hide Title "Wholesale Price"
          .wholesale_price_title {
            display: none;
          }
        }

      }
    }

    form.cart {
      // hide standard select variation & price
      table.variations, .woocommerce-variation-price {
        display: none;
      }
    }
  }
}




