// archive shop
.woocommerce-breadcrumb,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb {
  @extend %flex_row_wrap_flex_start_center;
  @extend %add;

  min-height: 3.2rem;
  padding: 0 2rem;
  margin-bottom: 4rem;

  line-height: 3.1rem;

  border-radius: 3rem;
  border: 1px solid $pink_prime;

  color: $pink_prime;

  -webkit-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);
  -moz-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);
  box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);

  @include bp($point_3) {
    border-radius: 0;
    margin: 0 calc(-1 * var(--gl-indent)) 1.8rem;
  }

  .page &,
  .woocommerce-account & {
    margin-bottom: 4rem;
  }

  a {
    @extend %transition_color;
    color: $black;

    &:hover {
      color: $pink_prime;
    }
  }
}

.breadcrumb-separator {
  margin: 0 1rem;
  color: $blue_prime;
}

.woocommerce-products-header {
  @extend %flex_row_wrap_flex_start;

  @include bp($point_2, min) {
    margin-bottom: 3rem;
  }

  @include bp($point_3) {
    margin-top: 2.6rem;
    margin-bottom: 2rem;
  }

  .woocommerce-products-header__title {
    @extend %h2;

    @include bp($point_2, min) {
      margin-right: 2rem;
    }

    @include bp($point_3) {
      padding-bottom: .2rem;
    }
  }

  .wc_products_header__menu_cat {
    @include bp($point_2, min) {
      margin-left: auto;
      overflow: hidden;
    }

    @include bp($point_3) {
      width: 100%;
    }

    .label {
      @extend %add;

      display: block;
      margin-bottom: .8rem;
      color: $blue_prime;

      @include bp(1025px, min) {
        text-align: center;
      }
    }

    ul.menu {
      @extend %flex_row_wrap_flex_start;

      padding-bottom: 1px;

      @include bp($point_2, min) {
        margin: 0 -1.6rem -1.6rem 0;
      }

      @include bp($point_3) {
        flex-wrap: nowrap;
        overflow-x: auto;
      }

      li.menu-item {
        @include bp($point_2, min) {
          padding: 0 1.6rem 1.6rem 0;
        }

        @include bp($point_3) {
          &:not(:last-child) {
            margin-right: 1.6rem;
          }
        }

        a {
          @extend %base_btn;
          @extend %blue_border;
          @extend %small;

          @include bp($point_2, min) {
            min-height: 3.6rem;
            padding: .5rem 2rem;
          }

          @include bp($point_3) {
            font-size: 1.2rem;
            font-weight: 800;

            min-height: 2.5rem;
            padding: .3rem .8rem;
          }
        }

        &.current-menu-item {
          a {
            @extend %pink_border;
          }
        }
      }
    }
  }

}


.woocommerce,
.woocommerce-page, {
  ul.products {
    @extend %flex_row_wrap_flex_start_stretch;

    @include bp($point_2, min) {
      margin: 0 -2rem -1.6rem 0;
    }

    @include bp($point_3) {
      margin: 0 -1.6rem -1.6rem 0;
    }

    li.product {
      margin: 0;

      transition: height .3s ease;
      will-change: height;

      @include bp($point_2, min) {
        padding: 0 2rem 1.6rem 0;
      }

      @include bp($point_3) {
        padding: 0 1.6rem 1.6rem 0;
      }

      .onsale {
        display: none;
      }

      .product_item__wrapper {
        @extend %flex_column_wrap_flex_start;

        position: relative;

        width: 100%;
        height: 100%;

        border-radius: 1.8rem;
        border: 1px solid $grey2;
        background: $white;

        @include bp($point_2, min) {
          padding: 2.9rem 1.1rem .9rem;
        }

        @include bp($point_3) {
          padding: 2.2rem .8rem .6rem;
        }
      }

      &.js-product-hover {
        .product_item__wrapper {
          -webkit-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);
          -moz-box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);
          box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.07);
        }
      }
    }

    &[class*='columns-'] li.product {
      @include bp($point_1, $point_2) {
        width: 33.333%;
      }
      @include bp($point_3) {
        width: 50%;
        margin-bottom: 2rem;
      }

      &.js-pos-absolute {
        position: absolute;

        @include bp($point_1, $point_2) {
          width: calc((100% + 2rem) / 3);
        }
        @include bp($point_3) {
          width: calc((100% + 1.6rem) / 2);
        }
      }

    }

    @include bp($point_1 + 1, min) {
      &.columns-1 li.product {
        width: 100%
      }
      &.columns-2 li.product {
        width: 50%
      }
      &.columns-3 li.product {
        width: calc(100% / 3);
      }
      &.columns-4 li.product {
        width: 25%;
      }
      &.columns-5 li.product {
        width: calc(100% / 5);
      }
      &.columns-6 li.product {
        width: calc(100% / 6);
      }
    }

  }
}

.woocommerce {
  ul.products {
    li.product {
      .product__header {
        @extend %flex_row_wrap_flex_start;

        position: relative;
        z-index: 1;

        width: 100%;


        @include bp($point_2, min) {
          min-height: 4.2rem;
          margin-top: -2rem;
          margin-bottom: -2.2rem;
        }

        @include bp($point_3) {
          min-height: 3.6rem;
          margin-top: -1.6rem;
          margin-bottom: -2rem;
        }

        .product__rating_link {
          margin-right: 1rem;

          .star-rating {

            &:before {
              color: inherit;
            }

            span {
              color: $pink_prime;
            }
          }
        }
      }

      .product__header_made_in {
        position: absolute;

        @include bp($point_2, min) {
          top: 2rem;
          left: 0;

          width: 3rem;
          height: 3rem;
        }

        @include bp($point_3) {
          top: 1.3rem;
          left: - .1rem;

          width: 2.1rem;
          height: 2.1rem;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      a {
        width: 100%;

        &.product__rating_link {
          width: auto;
        }

        .product_item_img__wrapper {
          position: relative;

          padding-bottom: 100%;
          margin-bottom: 1.5rem;

          @include bp($point_2, min) {
            //margin-top: -2rem;
          }
          @include bp($point_3) {
            min-height: 12.6rem;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;

            object-fit: contain;
          }
        }
      }

      .woocommerce-loop-product__title {
        @extend %h4;

        width: 100%;
        min-height: 4.8rem;

        padding-top: 0;
        padding-bottom: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        text-align: center;

        //@include bp($point_4 + 1, min) {
        //  min-height: 7.2rem;
        //  -webkit-line-clamp: 3;
        //}
        //
        //@include bp($point_4) {
        //  min-height: 4.8rem;
        //  -webkit-line-clamp: 2;
        //}

        @include bp($point_2, min) {
          margin-bottom: 1.2rem;
        }

        @include bp($point_3) {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      }

      .woocommerce-loop-product__link {
        margin-bottom: auto;

        @include bp($point_3) {
          //margin-top: -2rem;
        }

        & + .product_item__footer {
          margin-top: 4.4rem;
        }
      }

      .add_to_cart_wrap {
        width: 100%;
      }

      .price {
        @extend %add;
        @extend %flex_row_wrap_flex_start_center;

        position: relative;

        width: 100%;

        font-size: 3.2rem;
        font-weight: 800;
        color: $red;

        @include bp($point_2, min) {
          margin-bottom: .8rem;
        }

        @include bp($point_3) {
          margin-bottom: 2rem;
        }

        .amount {
          @extend %add;

          margin: 0 auto;
          color: $red;

          @include bp($point_4 + 1, min) {
            font-size: 3.2rem;
          }

          @include bp($point_4) {
            font-size: 2rem;
          }
        }

        del {
          position: absolute;
          top: 0;
          right: 0;

          @include bp($point_2, min) {
            margin-top: .8rem;
          }

          @include bp($point_3) {
            margin-top: 1.5rem;
          }

          .amount {
            color: $grey;

            @include bp($point_2, min) {
              font-size: 2.2rem;
            }

            @include bp($point_3) {
              font-size: 1.4rem;
            }
          }

          @include bp($point_2, min) {
            font-size: 2rem;
            font-weight: 800;
          }

          @include bp($point_3) {
            font-size: 1.4rem;
            font-weight: 700;
          }
        }

        ins {
          margin: 0 auto;
        }
      }

      &:not(.product-type-simple) {
        .price {
          min-height: 3.84rem;

          @include bp($point_4 + 1, min) {
            font-size: 3.2rem;
          }

          @include bp($point_4) {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }

      .product_type_grouped,
      .add_to_cart_button {
        @extend %base_btn;
        @extend %btn_size_1;
        @extend %pink_border;

        margin-top: auto;
        font-weight: 800;

        &.product_type_variable {
          @include bp($point_2, min) {

          }

          @include bp($point_3) {
            margin-top: 2rem;
          }
        }
      }

      .added_to_cart {
        text-align: center;
      }
    }
  }
}

.tinv-wraper.tinv-wishlist.tinvwl-above_thumb-add-to-cart{
  left: unset;

  @include bp($point_2, min) {
    top: 1rem;
    right: 1rem;
  }

  @include bp($point_3) {
    top: .6rem;
    right: .6rem;
  }
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt {
  @extend %transition_opacity;

  @include bp($point_2, min) {
    min-width: 4.2rem;
    min-height: 4.2rem;
  }

  @include bp($point_3) {
    min-width: 3rem;
    min-height: 3rem;
  }

  &:hover {
    opacity: .6;
  }
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt img,
a.wishlist_products_counter.top_wishlist-custom.no-txt img,
span.wishlist_products_counter.top_wishlist-custom.no-txt img {
  min-width: 100%;
  min-height: 100%;
}



.product_item__footer {
  @extend %transition_all;

  width: 100%;
  height: auto;
  overflow: hidden;
}

.product_item__quantity {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.8rem;

  .quantity {
    @extend %flex_row_nowrap_center_center;

    button {
      @extend %base_btn;
      @extend %grey_border;

      width: 4.7rem;
      height: 3rem;
      min-height: 3rem;
      padding: .5rem 2rem;
    }

    input.qty {
      @extend %remove_input_arrows;

      width: 2rem;
      margin: auto;

      font-family: $font_2;
      font-size: 1.4rem;
      font-weight: 800;
      border: 0;
      outline: 0;
      color: $pink_prime;
    }
  }
}

.select2-search.select2-search--dropdown {
  display: none;
}

// Filter Block
.products__filter_wrapper {
  @extend %flex_row_wrap_flex_start;

  margin-bottom: 3rem;

  @include bp($point_3) {
    flex-direction: column;
    margin-bottom: 2.4rem;

    .sidebar-filter {
      width: 100%;
      margin-bottom: 1.2rem;

      .widget {
        width: calc( (100% - 1.6rem) / 2 );

        &:first-child {
          margin-right: 1.6rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .woocommerce-ordering {
      width: 100%;
      margin-left: 0;
    }
  }

  .sidebar-filter {
    @extend %flex_row_wrap_flex_start;

    .widget { // section
      &:nth-child(1) {}
      margin-right: 2rem;
    }

    .wc-blocks-filter-wrapper {
      position: relative;

     @include bp($point_2, min) {
       min-width: 23.7rem;
     }
    }

    .wp-block-heading { // header
      @extend %small;

      position: relative;

      padding: .8rem 3.2rem .8rem 1.6rem;
      color: $black;
      border-bottom: 1px solid $grey;
      cursor: pointer;

      @include bp($point_3) {
        font-size: 1.2rem;
        font-weight: 800;
        padding-left: .8rem;
        padding-right: 2.4rem;
      }

      &:after {
        @extend %iconmoon_font;

        content: '\e912';

        position: absolute;
        top: 50%;
        right: 0;

        margin-top: -.48rem;

        font-size: .8rem;

        @include bp($point_2, min) {
          margin-right: 2rem;
        }

        @include bp($point_3) {
          margin-right: 1.2rem;
        }
      }
    }

    .wp-block-heading.wp-block-heading--open_drop_down {
      & + .wp-block-woocommerce-attribute-filter {
        transform: translate(0, 0);
      }

      &:after {
        transform: rotate(180deg);
      }
    }

    .wp-block-woocommerce-attribute-filter { // drop-down
      position: absolute;
      z-index: 20;
      width: 100%;
      //padding: 0 1.6rem 1rem 1.6rem;

      background: $white;
      border-bottom-left-radius: 1.8rem;
      border-bottom-right-radius: 1.8rem;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      border-bottom: 1px solid $grey;
      border-style: solid !important;
      overflow: hidden;
      transform: translate(0, -100000px);

      .wc-block-attribute-filter {
        margin-bottom: 0;
      }

      .wc-block-checkbox-list {
        margin-top: 1rem;

        li {
          margin: 0;

          div {
            margin: 0;
          }

          label {
            padding: 1rem 1.6rem;
          }
        }
      }

      .wc-block-attribute-filter__actions {
        padding: 0 1.6rem 1rem;
      }
    }

    .wc-block-filter-submit-button {
      @extend %base_btn;
      @extend %blue_border;

      //background-color: $blue_prime;
    }
  }

  .woocommerce-ordering {
    position: relative;
    z-index: 0;

    margin: 0 0 0 auto;

    .select2-container {
      z-index: 110;

      display: block;
      min-width: 24rem;
      height: 4rem;

      @include bp($point_3) {
        width: 100% !important;
      }

      .selection {
        display: block;
        width: 100%;
        height: 100%;
      }

      &.select2-container--open {
        position: relative;

        &:before, &:after {
          position: absolute;
          z-index: -1;
          content: '';
          width: 1px;
          height: 50%;
          top: 50%;
          background: $grey3;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }

        .select2-selection {
          border-color: transparent;
          outline: 2px solid $pink_prime;
          outline-offset: -2px;
          border-bottom-left-radius: 1.8rem;
          border-bottom-right-radius: 1.8rem;
        }

        .select2-selection__arrow {
          b {
            transform: scale(-1);
          }
        }
      }
    }

    .select2-selection {
      position: relative;

      display: block;
      width: 100%;
      height: 100%;

      min-height: 4rem;
      border-radius: 2rem;
      border: 1px solid $grey;


      .select2-selection__rendered {
        position: relative;

        display: block;
        height: 100%;
        padding: 0.8rem 3.2rem 0.8rem 1.6rem;
        line-height: 1.26;
        cursor: pointer;

        &[title*="Sortiert nach"],
        &[title*="Sorted by"] {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;

          @include bp($point_2, min) {
            padding-left: 4.2rem;
          }

          @include bp($point_3) {
            padding-left: 4.7rem;
          }

          &:before {
            position: absolute;
            top: 50%;
            left: 1.6rem;
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"><path class="st1" d="M11.3,12.7H4.5c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h6.8c0.4,0,0.8,0.3,0.8,0.8S11.7,12.7,11.3,12.7z"/><path class="st1" d="M17.3,6.7H4.5C4.1,6.7,3.8,6.4,3.8,6s0.3-0.8,0.8-0.8h12.7C17.7,5.2,18,5.6,18,6S17.7,6.7,17.3,6.7z"/><path class="st1" d="M9.8,18.7H4.5c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h5.3c0.4,0,0.8,0.3,0.8,0.8S10.2,18.7,9.8,18.7z"/><path class="st1" d="M21.5,15.2c-0.3-0.3-0.8-0.3-1.1,0L18,17.7v-7.2c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v7.2L14,15.2c-0.3-0.3-0.8-0.3-1.1,0s-0.3,0.8,0,1.1l3.7,3.8c0.1,0.1,0.2,0.1,0.2,0.2c0.1,0,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.2l3.8-3.8C21.8,16,21.8,15.5,21.5,15.2z"/></svg>');

            @include bp($point_2, min) {
              margin-top: -1.3rem;
            }

            @include bp($point_3) {
              margin-top: -1.2rem;
            }
          }
        }
      }

      .select2-selection__arrow {
        position: absolute;
        top: 0;
        right: 0;

        b {
          @extend %flex_row_wrap_center_center;

          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          border: 0;

          &:before {
            @extend %iconmoon_font;

            content: '\e912';
            font-size: .8rem;
          }
        }
      }
    }
  }
}

.select2-container {
  z-index: 30;
}

.woocommerce-checkout {
  //.select2-dropdown--above {
  //  transform: translateY(-32px);
  //}
  //
  //.select2-dropdown--below {
  //  transform: translateY(-28px);
  //}
}

.select2-dropdown {
  &.select2-dropdown--above {
    display: block;

    background: $white;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
    border-style: solid;
    border-color: $grey3;
    border-width: 1px 1px 0 1px;
    overflow: hidden;
  }

  &.select2-dropdown--below {
    display: block;

    background: $white;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    border-style: solid;
    border-color: $grey3;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
  }

  .select2-results__options {
    .select2-results__option {
      position: relative;
      padding: .685rem 1.6rem;

      &:first-child {
        margin-top: .76rem;
      }
      &:last-child {
        margin-bottom: .76rem;
      }

      &[data-select2-id*="menu_order"] {
        padding-left: 4.2rem;

        &:before {
          position: absolute;
          top: 50%;
          left: 1.6rem;
          content: "";
          width: 2.4rem;
          height: 2.4rem;
          margin-top: -1.2rem;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"><path class="st1" d="M11.3,12.7H4.5c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h6.8c0.4,0,0.8,0.3,0.8,0.8S11.7,12.7,11.3,12.7z"/><path class="st1" d="M17.3,6.7H4.5C4.1,6.7,3.8,6.4,3.8,6s0.3-0.8,0.8-0.8h12.7C17.7,5.2,18,5.6,18,6S17.7,6.7,17.3,6.7z"/><path class="st1" d="M9.8,18.7H4.5c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h5.3c0.4,0,0.8,0.3,0.8,0.8S10.2,18.7,9.8,18.7z"/><path class="st1" d="M21.5,15.2c-0.3-0.3-0.8-0.3-1.1,0L18,17.7v-7.2c0-0.4-0.3-0.8-0.8-0.8s-0.8,0.3-0.8,0.8v7.2L14,15.2c-0.3-0.3-0.8-0.3-1.1,0s-0.3,0.8,0,1.1l3.7,3.8c0.1,0.1,0.2,0.1,0.2,0.2c0.1,0,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.2l3.8-3.8C21.8,16,21.8,15.5,21.5,15.2z"/></svg>');

        }
      }

      &.select2-results__option--selected {
        background: $white;
        color: $blue_prime;
        font-weight: 800;
      }
      &.select2-results__option--highlighted.select2-results__option--selectable {
        color: $blue_prime;
        background: $grey2;
      }
    }
  }
}

// Pagination
.woocommerce {
  nav.woocommerce-pagination {
    @extend %flex_row_wrap_center;

    position: relative;

    padding: 4rem 9rem;

    @include bp($point_3) {
      margin-bottom: 2rem;
      padding: 0 1.8rem;
    }

    .page-numbers {
      @extend %transition_opacity;
      @extend %flex_row_wrap_center_center;
      @extend %text;

      width: 4rem;
      height: 4rem;

      &:not(.prev):not(.next) {
        margin: 0 1rem;

        @include bp($point_3) {
          margin-left: .3rem;
          margin-right: .3rem;
        }
      }

      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }

      &.next, &.prev {
        @extend %flex_row_wrap_center_center;

        position: absolute;
        top: 0;
        width: fit-content;
        height: 100%;

        span {
          padding: 0 .4rem;

          &:before {
            font-size: 2.2rem;
          }

          @include bp($point_3) {
            display: none;
          }
        }
      }

      &.current {
        color: $pink_prime;
        border: 1px solid $pink_prime;
        border-radius: 4rem;
      }

      &.current, &.dots {
        cursor: default;
      }

      &:not(.current):not(.dots):hover {
        opacity: .6;
      }
    }
  }
}

.shop__featured_products_wrapper {
  @include bp($point_2, min) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include bp($point_3) {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  body.featured_products & {
    display: none;
  }

  .woocommerce-products-header {
    margin-bottom: 2.8rem;
  }

  .featured_products {
    @include bp($point_3) {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  .featured_products_mobile {
    @include bp($point_2, min) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  .slick-dots {
    @extend %slick_dots;
  }
}

.woocommerce div.product .woocommerce-product-rating .star-rating,
.woocommerce ul.products li.product .star-rating {
  margin: .1rem 1.2rem 0 0;
  font-size: 1.2rem;

  @include bp($point_2, min) {
    width: 7.8rem;
  }

  @include bp($point_3) {
    width: 6rem;
  }

  span:before, &:before {
    @extend %iconmoon_font;
    color: $pink_prime;
  }
  span:before {
    content: '\e910 \e910 \e910 \e910 \e910';
  }
  &:before {
    content: '\e90f \e90f \e90f \e90f \e90f';
  }
}

.woocommerce ul.products li.product .star-rating {
  @include bp($point_2, min) {
    font-size: 1.3rem;
    letter-spacing: .22rem;
  }

  @include bp($point_3) {
    font-size: 1rem;
    letter-spacing: .18rem;
  }
}

.wc-block-attribute-filter .wc-block-attribute-filter-list li label {
  &:hover {
    background: $grey2;
  }
}


.page-template-template-home-page #main {
  @include bp($point_2, min) {
    padding-bottom: 0;
  }
}

.shop__before_featured_products_padding {
  @include bp($point_2, min) {
    margin: 5rem 0 0 0;
  }

  @include bp($point_3) {

  }
}

.ppcp-messages,
.ppcp-messages {
  display: none !important;
}




