@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

%green_btn {
	@extend %transition_opacity;

	height: 2.7rem;
	padding: 0 20px;
	color: $white;
	background-color: $green_prime;
	border-radius: 4rem;

	@include st_btn();

	&:active,
	&:focus,
	&:hover {
		opacity: .6;
	}
}

%white_btn {
	@extend %transition_opacity;
	@extend %global_flex_block_row_wrap_center_center;
	@extend %add;

	min-height: 3.8rem;
	padding: .5rem 2rem;

	border-radius: 4rem;
	border: 1px solid;
	background-color: $white;

	@include st_btn();

	&:active,
	&:focus,
	&:hover {
		opacity: .6;
	}
}

%pink_border {
	color: $pink_prime;
	border-color: $pink_prime;
}
%blue_border {
	color: $blue_prime;
	border-color: $blue_prime;
}
%grey_border {
	color: $grey;
	border-color: $grey;
}


// BUTTONS SIZE
%btn_size_0 {
	@include bp($point_2, min) {
		width: 21.3rem;
		height: 4rem;
		line-height: 4rem;
	}

	@include bp($point_3) {
		width: 16.2rem;
		height: 4.1rem;
		line-height: 4.1rem;
	}
}