@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

%base_btn {
	@extend %flex_row_wrap_center_center;
	@extend %add;

	border-radius: 5rem;
	border: .2rem solid;
	background-color: $white;
	white-space: nowrap;

	@include st_btn();

	&.disabled,
	&:disabled,
	&:disabled[disabled] {
		pointer-events: none;
		color: $blue_prime !important;
		background-color: $white !important;
	}
}

%btn_size_1 {
	min-height: 3.8rem;
	padding: .5rem 2rem;
}
%btn_size_2 {
	height: 8.7rem;
	padding: 1rem 4rem;
}
%btn_size_3 {
	height: 4.2rem;
	padding: .5rem 2rem;
}

%pink_border {
	@extend %transition_color_background;

	color: $pink_prime;
	border-color: $pink_prime;

	&:hover {
		color: $white;
		background-color: $pink_prime;
	}
}
%blue_border {
	@extend %transition_color_background;

	color: $blue_prime;
	border-color: $blue_prime;

	&:hover {
		color: $white;
		background-color: $blue_prime;
	}
}
%grey_border {
	@extend %transition_color_background;

	color: $grey;
	border-color: $grey;

	&:hover {
		color: $white;
		background-color: $grey;
	}
}
%pink_bg {
	@extend %transition_color_background;

	color: $white;
	border-color: $pink_prime;
	background-color: $pink_prime;

	&:hover {
		color: $blue_prime;
		background-color: $white;
	}
}
%green_bg {
	@extend %transition_color_background;

	color: $white;
	border-color: $green_prime;
	background-color: $green_prime;

	&:hover {
		color: $blue_prime;
		background-color: $white;
	}
}


// BUTTONS SIZE
%btn_size_0 {
	width: 21.3rem;
	height: 4rem;
	line-height: 4rem;

	@include bp($point_3) {
		width: 16.2rem;
		height: 4.1rem;
		line-height: 4.1rem;
	}
}