%h1 {
	font-family: $font_1;
	font-weight: 400;
	font-size: 6rem;

	@include bp($point_2) {

	}
}

%h2 {
	font-family: $font_1;
	font-weight: 400;
	font-size: 4.2rem;

	@include bp($point_2) {

	}
}

%h3 {
	font-family: $font_2;
	font-weight: 500;
	font-size: 3.2rem;
	line-height: 1.2;

	@include bp($point_2) {

	}
}

%h4 {
	font-family: $font_2;
	font-weight: 800;
	font-size: 2rem;
	line-height: 1.2;

	@include bp($point_2) {

	}
}

%body {
	font-family: $font_2;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.2;

	@include bp($point_2) {

	}
}

%text {
	font-family: $font_2;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.2;

	@include bp($point_2) {

	}
}

%small {
	font-size: 1.4rem;
	font-weight: 600;

	@include bp($point_2) {

	}
}

%add {
	font-family: $font_2;
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: 800;

	@include bp($point_2) {

	}
}

