@import "family";
@import "reset";
@import "fonts";
@import "icon_fonts";
@import "print";

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-footer: 10rem;
	--gl-indent: 2rem;
	--sidebar-width: 31.2rem;
	--height-header: 10.8rem; //14.8rem;
	--width-logo: 12.5rem;
	--width-logo-footer: 19rem;
	--scroll-bar-width: 18px;

	@include bp($point_3) {
		--height-header: 6.4rem;
		--width-logo: 5.2rem;
		--width-logo-footer: 8rem;
	}
	@include bp($point_4) {
		--gl-indent: 2rem;
	}
}

html {
	height: 100%;
	font: 400 calc(100vw / 1920 * 10) / 1.33 $font_2;

	@include bp(374px, min) {
		font-size: 10px;
	}

	@include bp(375px) {
		font-size: calc(100vw / 375 * 10);
	}
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@supports (display: grid) {
		display: block;
	}

	&.body--open_menu_state {
		@include bp($point_3) {
			overflow: hidden;
			height: 100%;
			width: 100%;
			position: fixed;
		}
	}

	&.body--popup_open {
		overflow: hidden;
	}
}

//.wrapper {
//	position: relative;
//
//	width: 100%;
//	display: flex;
//	flex-direction: column;
//	min-height: 100%;
//	height: auto !important;
//
//	overflow-x: hidden;
//}
//
//.base {
//	width: 100%;
//	position: relative;
//	padding: var(--height-header) var(--gl-indent) 0;
//
//	flex: 1 0 auto;
//}

#primary { //.wrapper (.content-area)
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;
	padding: 0 var(--gl-indent);

	overflow-x: hidden;
}

#main { // .base (.site-main)
	position: relative;

	width: 100%;
	max-width: $page_width;
	padding: var(--height-header) 0 0;
	margin: 0 auto;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//------------------------------------------------------------base styles###


.content {
	@include bp($point_2, min) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	@include bp($point_3) {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}

	.section_in {
		max-width: 70rem;
		margin: 0 auto;
	}
}

.section_in {
	h2 {
		@extend %h2;
		text-align: center;
		line-height: 1.1;

		@include bp($point_2, min) {
			padding: 1rem 0;
		}

		@include bp($point_3) {
			font-size: 3rem;
			padding: .8rem 0;
		}
	}

	h3 {
		@extend %h3;

		line-height: 1.1;

		@include bp($point_2, min) {
			padding: 1rem 0;
		}

		@include bp($point_3) {
			font-size: 2.4rem;
			padding: .6rem 0;
		}
	}

	h4 {
		@extend %h4;

		line-height: 1.1;

		@include bp($point_2, min) {
			padding: 1rem 0;
		}

		@include bp($point_3) {
			font-size: 2rem;
			padding: .6rem 0;
		}
	}

	p {
		@extend %body;

		line-height: 1.6;
		text-indent: 1rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	ul {
		margin: 0 0 1rem 2rem;

		li {
			@extend %body;

			line-height: 1.6;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			&:before {
				content:"\A";
				width:.7rem;
				height:.7rem;
				border-radius:50%;
				background: $grey3;
				display:inline-block;
				margin-right: 1.4rem;
				margin-bottom: .2rem;
			}
		}
	}
}