//------------------------------------------------------------layout
.header {
	//position: absolute;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: var(--height-header);
	padding: 0 var(--gl-indent);

	font-size: 1.4rem;

	background-color: transparent;
	
	will-change: transform;

	transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;

	@include z-index(header);

	@include bp($point_3) {
		padding: 0;
	}

	.body--scrolled_down & {
		.header__row:nth-child(2) {
			--box-shasow-scrolled: 0 .8rem 3rem 0 rgba(0,0,0,.75);

			box-shadow: var(--box-shasow-scrolled);
			-webkit-box-shadow: var(--box-shasow-scrolled);
			-moz-box-shadow: var(--box-shasow-scrolled);
		}
	}

	.body--go_scroll_up & {
		transform: translateY(-200px);
	}
}

body {
	&.body--open_menu_category {
		overflow: hidden;

		padding-right: var(--scroll-bar-width);

		.header__row:nth-child(2) {
			@include bp($point_3) {
				padding-right: calc( 2rem + var(--scroll-bar-width) );
			}
		}
	}
}

.header_in {
	position: relative;

	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.header__row {
	&:nth-child(1) {
		@extend %flex_row_wrap_flex_end_center;

		height: 4rem;

		.header__top_button {
			@extend %base_btn;
			@extend %green_bg;

			min-height: 2.7rem;
			padding: 0 1.9rem;
			margin-top: .5rem;
			font-weight: 600;
			font-size: 1.4rem;
		}

		@include bp($point_3) {
		  display: none;
		}
	}

	&:nth-child(2) {
		@extend %flex_row_wrap_flex_start_center;

		padding: .8rem 3rem;
		background-color: $blue_prime;
		height: 6.8rem;
		border-radius: 4rem;

		@include bp(1350px) {
			padding: .8rem 2.2rem;
		}

		@include bp($point_3) {
			height: var(--height-header);
			border-radius: 0;
			padding-right: 2rem;
			padding-left: 2rem;
		}
	}

	&:nth-child(3) {
		//height: 4rem;
		//background-color: #b1ccab;
	}
}

.header__col_left {
	@extend %flex_row_nowrap_flex_start_center;
	width: calc((100% - var(--width-logo)) / 2);
	height: 100%;
	padding-right: 1.2rem;

	.header__link_menu {
		@extend %flex_row_nowrap_center_center;

		margin-right: 3.2rem;
		cursor: pointer;

		@include bp(1350px) {
			margin-right: 1.2rem;
		}

		.icon-menu {
			font-size: 3.4rem;
			color: $pink_prime;
			margin-right: 1rem;

			@include bp($point_3) {
				font-size: 2.4rem;
				margin-right: .4rem;
			}
		}

		.icon-arrow_down {
			display: none;

			margin-left: .4rem;
			font-size: .5rem;
			color: $white;

			@include bp($point_3) {
				display: block;
			}

			.body--open_menu_category & {
				transform: scale(-1);
			}
		}

		.label {
			@extend %h4;
			color: $white;
			white-space: nowrap;

			@include bp($point_3) {
				font-size: 1.2rem;
			}
		}
	}

	.header__search_form_wrap {
		position: relative;
		width: 100%;
		margin-right: 2.2rem;
		border-radius: 4rem;
		overflow: hidden;
		background-color: $white;

		&.header__search_form_wrap--open {
			transform: translateY(0);
		}

		@include bp($point_1) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: .8rem 2.2rem;
			margin-top: 11.4rem;
			background: $blue_prime;
			transform: translateY(-20rem);
		}

		@include bp($point_3) {
			margin-top: 6.4rem;
			border-radius: 0;
		}

		.icon_wrap {
			position: absolute;
			top: 0;
			left: 0;

			display: block;
			width: 3.5rem;
			height: 3.5rem;
		}

		.aws-container, .aws-search-form, .aws-search-field {
			width: 100%;
		}

		.aws-wrapper {
			width: 90%;
			border-top-right-radius: 4rem !important;
			border-bottom-right-radius: 4rem !important;
		}

		.aws-search-form {
			height: 5.2rem;

			@include bp($point_1) {
				height: 4rem;
			}
		}

		.aws-search-btn {
			@extend %iconmoon_font;

			width: 56px;
			font-size: 3.8rem;
			color: $grey;
			background-color: $white !important;

			&:before {
				content: "\e90e";
				color: inherit;
				margin: 2.7rem 0 0 .4rem;
			}

			@include bp($point_1) {
				border-top-left-radius: 4rem !important;
				border-bottom-left-radius: 4rem !important;
				background-color: $white;
			}

			.aws-search-btn_icon {
				opacity: 0 !important;
			}

			&:hover {
				color: $pink_prime;
			}
		}


		.aws-search-field {
			@extend %body;

			padding-left: .8rem;
			padding-right: 1.4rem;

			color: $blue_prime;
			font-weight: 700;
			border: 0;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $grey;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: $grey;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: $grey;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: $grey;
			}
		}
	}
}

.header__col_center {
	@extend %flex_row_wrap_center_center;

	width: var(--width-logo);
	height: var(--width-logo);
	z-index: 2;

	.header__logo {
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.header__col_right {
	@extend %flex_row_wrap_flex_end_center;
	width: calc((100% - var(--width-logo)) / 2);
	height: 100%;
	padding-left: 1rem;

	.header__link_wrapper,
	.header__link {
		@extend %flex_row_nowrap_center_center;

		position: relative;
		margin-right: 3.1rem;

		@include bp(1350px) {
			margin-right: 1.2rem;
		}

		@include bp($point_5) {
			margin-right: .8rem;
		}

		&:last-child {
			@include bp($point_2, min) {
				margin-right: 1.5rem;
			}
		}

		[class^='icon-'] {
			margin-right: .8rem;
			font-size: 2.6rem;

			@include bp($point_1) {
				margin-right: 0;
			}

			@include bp($point_3) {
				font-size: 2.4rem;
			}
		}

		.icon-search,
		.icon-hot {
			color: $white;
		}
		.icon-heart {
			color: $pink_prime;
		}
		.icon-shop {
			color: $green_prime;
		}
		.icon-profil {
			color: $light_blu;
		}

		.icon_wrap {
			display: block;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: .8rem;

			@include bp($point_1) {
				margin-right: 0;
			}

			@include bp($point_3) {
				width: 2.1rem;
				height: 2.1rem;
			}
		}

		.label {
			@extend %body;
			font-weight: 700;
			color: $white;

			@include bp($point_1) {
				display: none;
			}
		}

		&.header__search_mob {
			@include bp($point_1 + 1, min) {
				display: none;
			}
		}

		&.header__hot_deals {
			@include bp($point_5) {
				display: none;
			}
		}

		.header__mini_cart_count {
			@extend %flex_row_wrap_center_center;
			@extend %add;

			position: absolute;
			bottom: -.4rem;
			left: 1.6rem;

			width: 1.6rem;
			height: 1.6rem;

			background-color: $pink_prime;
			border-radius: 2rem;
			font-weight: 700;
			color: $white;

			@include bp($point_2, min) {

			}

			@include bp($point_3) {
				bottom: -.4rem;
				left: 1.4rem;

				width: 1.2rem;
				height: 1.2rem;

				font-size: 1.1rem;
			}
		}

		&.header__mini_cart {
			a {
				@extend %flex_row_nowrap_center_center;
			}
			.widget {
				position: absolute;
				width: 100%;
				opacity: 0;
				cursor: pointer;
			}

			[data-block-name] {
				width: 100%;
			}

			.wc-block-mini-cart__button {
				width: 100%;
				cursor: pointer;
			}
		}
	}

	.header__link_wrapper {
		@include bp($point_3) {
			order: 1;
			margin-right: 0;
		}
	}
}

/*
Search Style
 */
.aws-search-result {
	margin-top: .5rem;
	background: transparent;
	border: 0;
	border-radius: 3rem;
	overflow: hidden;

	ul {

		li.aws_result_item {
			@extend %transition_background;

			border-radius: 1rem;
			background: #fff;
			border: 0;
			outline: 1px solid $pink_prime;
			outline-offset: -2px;

			&.hovered {
				.aws_result_link {
					padding-bottom: .4rem;
					background: #fff;
					background: linear-gradient(135deg, $white, $pink_prime 200%);
				}
			}
		}

		.aws_result_link {
			@extend %transition_background;

			padding-bottom: .4rem;
		}

		.aws_result_image {
			img {

			}
		}

		.aws_result_content {

		}

		.aws_result_title {
			margin-bottom: .8rem;

			font-family: $font_1;
			font-size: 1.6rem;
			font-weight: 400;

			color: $blue_prime;
		}

		.aws_result_excerpt {
			@extend %small;

			margin-bottom: .4rem;

			color: $blue_prime;
		}

		.aws_result_price {
			@extend %add;
			@extend %flex_row_wrap_flex_start;

			width: 100%;

			font-size: 1.6rem;
			font-weight: 700;
			color: $red;
		}

		.aws_result_sale {

			.aws_onsale {
				@extend %add;

				font-family: $font_2;
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.5;

				background: $pink_prime;
			}
		}

		li.aws_result_item.aws_search_more {
			background: transparent;
			border: 0;
			outline: 0;

			a {
				@extend %base_btn;
				@extend %pink_border;

				font-size: 1.6rem;
				height: 5rem;
			}
		}

	}
}


/*
Navigation Menu Category
 */
body.body--open_menu_category {
	@include bp($point_2, min) {

	}

	@include bp($point_3) {
		overflow: hidden;
	}
}

#header_nav_menu_category {
	@extend %transition_transform;
	@extend %transition_opacity;

	position: relative;
	z-index: -1;

	width: 100%;
	opacity: 0;

	@include bp($point_2, min) {
		transform: translateY(-150%);
	}

	@include bp($point_3) {
		@include flex_block(column, nowrap, flex-start);

		height: calc( 100vh - var(--height-header) );

		padding: 2.6rem 4rem 2rem;

		background: $white;
		overflow-y: auto;
		overflow-x: hidden;

		transform: translateY(-150%);
	}

	.body--open_menu_category & {
		@include bp($point_2, min) {
			transform: translateY(0);
			z-index: 1000;
			opacity: 1;
		}

		@include bp($point_3) {
			transform: translateY(0);
			z-index: 1000;
			opacity: 1;
		}
	}

	.menu_category {
		@include bp($point_2, min) {
			max-width: $page_width;
			margin: 0 auto;
		}

		@include bp($point_3) {
		  	width: 100%;
		}
	}

	ul.menu {
		@extend %flex_row_wrap_flex_start;

		width: 100%;

		@include bp($point_2, min) {
			margin: 0 -2rem -2rem 0;
			padding: 3rem 3rem;

			background: $white;

			border-radius: 3rem;
			--shadow_el: 0 .4rem 12rem 0 rgba(0,0,0,0.25);
			--shadow_link: 0 0 2rem -1rem rgba(0,0,0,0.7);
			box-shadow: /* inset */ var(--shadow_el);
			-webkit-box-shadow: var(--shadow_el);
			-moz-box-shadow: var(--shadow_el);
		}

		@include bp($point_3) {
			flex-direction: column;
			margin-bottom: 3rem;
		}
	}

	li.menu-item {
		@include bp($point_2, min) {
			width: calc( 100% / 6 );
			padding: 0 2rem 2rem 0;
		}

		@include bp($point_3) {
		  	width: 100%;
		}

		&.current-menu-item {
			a {
				@include bp($point_2, min) {
					-webkit-box-shadow: var(--shadow_link);
					-moz-box-shadow: var(--shadow_link);
					box-shadow: /* inset */ var(--shadow_link);
				}

				@include bp($point_3) {
				  	color: $pink_prime;
				}
			}
		}

		a {
			@extend %transition_all;

			display: block;
			width: 100%;

			@include bp($point_2, min) {
				position: relative;

				padding-top: 100%;

				border-radius: 2rem;
				border: 1px solid #FFE8E1;
				overflow: hidden;
			}

			@include bp($point_3) {
				padding: .6rem 4.4rem .6rem 2rem;
			}

			&:focus,
			&:hover {
				color: $pink_prime;

				-webkit-box-shadow: var(--shadow_link);
				-moz-box-shadow: var(--shadow_link);
				box-shadow: /* inset */ var(--shadow_link);
			}

			span {
				@extend %h4;

				@include bp($point_2, min) {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;

					max-width: calc(100% - 3.2rem);
					padding: 0 .2rem;
					margin: 1.6rem 0 0 1.6rem;

					border-radius: 1rem;
					background: rgba(255, 255, 255, 0.7);
					box-shadow: 0 0 .6rem 0 $white;
				}

				@include bp($point_3) {
					font-size: 1.2rem;
					font-weight: 800;
				}
			}

			img {
				@include bp($point_2, min) {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;

					width: 100%;
					height: 100%;

					border-radius: 2rem;
					overflow: hidden;

					object-fit: contain;
					object-position: bottom right;
				}

				@include bp($point_3) {
				  display: none;
				}
			}
		}
	}

	.header_nav_menu_footer {
		@include bp($point_2, min) {
		  	display: none;
		}

		@include bp($point_3) {
			width: 100%;
			margin-top: auto;
		}
	}

	.header_nav_menu_footer__in {
		@include bp($point_2, min) {

		}

		@include bp($point_3) {
		  	text-align: center;
		}

		.footer__descr {
			@include bp($point_2, min) {

			}

			@include bp($point_3) {
				color: $blue_prime;
				margin-bottom: 3rem;
			}
		}

		.footer__link {
			width: min-content;
			display: block;
			margin-left: auto;
			margin-right: auto;
			white-space: nowrap;

			&:focus,
			&:hover {
				color: $blue_prime;
			}
		}

		.footer__socials {
			@include bp($point_2, min) {

			}

			@include bp($point_3) {
			    justify-content: center;
				margin-bottom: 3rem;
			}

			li a:hover, li a:focus {
				color: $blue_prime;
			}
		}

		.footer__button--mobile_menu {
			 @include bp($point_2, min) {

			 }

			 @include bp($point_3) {
				 max-width: 33.5rem;
				 min-height: 4.2rem;
				 margin: 0 auto;

				 font-size: 1.6rem;
				 font-weight: 700;
			 }
		 }
	}

}




