//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;
	//padding: 5rem var(--gl-indent);

	font-size: $font_size_base;
	overflow: hidden;

	@include bp($point_3) {
	    //padding: 2rem var(--gl-indent);
	}

	//&.my_account_page,
	&.cart_page,
	&.checkout_page {
		padding-bottom: 2rem;

		@include bp($point_2, min) {

		}

		@include bp($point_3) {

		}
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;

	.default_page & {
		@include bp($point_6 + 1, min) {
			max-width: 80%;
		}
	}

	.page-id-570 & {
		& > h2 {
			max-width: 50rem;
			margin: 0 auto;
		}
	}
}
