//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: $font_size_base;

	@include bp($point_2, min) {
	    padding: 5rem var(--gl-indent);
	}

	@include bp($point_3) {
	    padding: 2rem var(--gl-indent) 3.5rem;
	}

	&.contacts--mod_1 {
		@include bp($point_3) {
			padding-bottom: 0;
		}
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}
