%form_el_checkbox {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  & + span {
    position: relative;

    padding-left: 3rem;

    //font-size: 1.6rem;
    //color: $black;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;

      width: 2rem;
      height: 2rem;

      border-radius: 4px;
      cursor: pointer;
      content: '';
    }

    &:before {
      border: 1px solid $black;

      transition: transform .2s, opacity .2s;
      will-change: transform;
    }

    &::after {
      opacity: 0;

      border-bottom: 4px solid $black;
      border-right: 4px solid $black;

      transition: transform .2s, opacity .2s;
    }
  }


  &:checked {
    & + span {
      &:before {
        opacity: 0;
        transform: rotateZ(40deg) scaleX(.6);
      }

      &:after {
        opacity: 1;
        transform: rotateZ(40deg) scaleX(.6) translate(-.5rem,-.5rem);
      }
    }
  }
}